<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">iCoder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Topics
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Technology</a>
            <a class="dropdown-item" href="#">Web development</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Support</a>
            <a class="dropdown-item" href="#">Write for us</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus">Contact Us</a>
        </li>
      </ul>
      <modalsignin class="form-inline my-2 my-lg-0"></modalsignin>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
